<div class="main-container">
    <h1>Chat con websockets</h1>
    <div class="see-message-logs">
        <p id="messageLogs"></p>
    </div>
    <div class="write-message-box">
        <div class="message-box-container">
            <input id="chatBox">
            <label for="chatBox">¡Escribe un mensaje!</label>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>